@model BookCatalogManagementApp.Dtos.BookDto

@{
    ViewData["Title"] = "Kitap Sil";
}

<h2>Kitap Sil</h2>

<h4>Bu kitabı silmek istediğinizden emin misiniz?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Başlık</dt>
    <dd class="col-sm-10">@Model.Title</dd>

    <dt class="col-sm-2">Yazar</dt>
    <dd class="col-sm-10">@Model.Author</dd>

    <dt class="col-sm-2">Tür</dt>
    <dd class="col-sm-10">@Model.Genre</dd>

    <dt class="col-sm-2">Sayfa Sayısı</dt>
    <dd class="col-sm-10">@Model.PageCount</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">İptal</a>
</form>
